.weather-icon-big {
  display: block;
  margin: 60px auto;
  width: 83px;
}

li {
  list-style-type: none;
  margin: 0;
  font-size: 12px;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.city {
  margin: 15px 0;
}

.Weather {
  margin: 0;
}

.last-update {
  font-size: 12px;
  margin: 5px 0;
}

.temperature h5 {
  font-weight: 100;
}

.temperature .unit button {
  text-decoration: none;
  color: pink;
  font-weight: 700;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  cursor: pointer;
}
