.weather-forecast-text {
  font-size: 13px;
  text-align: center;
}
.weather-digits {
  padding-bottom: 10px;
}
.icon {
  display: block;
  text-align: center;
}

.forecast-row {
  padding-top: 20px;
}
.weather-min {
  color: #737374;
}
.weather-weekday {
  font-weight: 700;
}
