.weather-icon-big {
  float: center;
}

li {
  list-style-type: none;
  margin: 0;
  font-size: 12px;
}

ul {
  list-style-type: none;
  text-align: right;
}
.city {
  text-align: center;
  padding: 14px 0 10px;
  margin: 0;
}

.Weather {
  margin: 0;
}

.last-update {
  font-size: 12px;
  margin: 5px 0;
  text-align: right;
}

.temperature h5 {
  font-weight: 100;
  text-align: right;
  font-size: 18px;
}

.temperature .unit button {
  text-decoration: none;
  color: pink;
  font-weight: 700;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  cursor: pointer;
}
